.row {
    display: flex;
    flex-wrap: wrap;
}
 
.row > div[class*='col-'] {
   display: flex;
}

.news{
    text-align: center;
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    font-size: 20px;
}

.ati1{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px) {
    .ati1{
        width: 250px;
        margin-right: 70px;
    }

    .news{
        width: auto;
    }
  }